.todo-btn{
    font-size: 2rem;
    background-color: rgb(209, 206, 206);
    border-radius: 4px;
    padding: 5px;
    color: black;
    width: 70px;
}
.todo-btn:hover{
    background-color: rgb(255, 255, 255);
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.todo-container {
    position: absolute;
    width: 20vw;
    max-height: 70vh;
    padding: 10px;
    background-color: grey;
    opacity: .9;
    right: 2rem;
    top: 7.5rem;
    border-radius: 4px;
    overflow-y: auto;
}
.todo-input {
    background-color: transparent;
    border: none;
    color: var(--text-color-primary);
    border-bottom: 1px solid var(--text-color-primary);
    margin-bottom: 2px;
    font-size: 1rem;
    width: 18vw;
}
.todo-input:focus{
    outline: none;
}
.todo-items{
   padding: 2px 0;
   width: 16vw;
}
.todo-label {
    min-width: 100%;
    word-wrap: break-word;
    font-size: 1.25rem;
}
.todo-delete-btn{
    margin-left:5px;
     font-size: 1.25rem;
}
.todo-check{
    width: 1.25rem;
    height: 1.25rem;
}
.strikethrough{
    text-decoration: line-through;
}